.textHolder {
    width: 50rem;
    height: 6rem;
    background-color: #222;
    border-radius: 5px;
    box-shadow:0 0px 5px rgb(137, 220, 245),
    0 0px 15px rgb(137, 220, 245);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0px;

}

.text {
    padding: 30px 0px;
    box-sizing: border-box;
    color: white;
    
    
    
}

.buttonContainer {
    width: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}